.boton1{
    @extend %botonesBases;
    background: $backgroundBotones;
    color: $color-blanco;
    justify-content: space-around;
}
/* .boton2{
    @include boton($background:$botonColor,$padding: 10px, $border-radius: 05px, $border: none);
}*/