
$color-main:  rgb(73, 51, 73);
$color-celeste-logo: rgb(0, 143, 140);
$color-textos: rgb(166, 143, 151);
$color-blanco:rgb(255, 255, 255);
$color-subtitulos: rgb(182, 130, 149);
$color-negro: rgb(0, 0, 0);
$background-categoria:rgba(190, 108, 170, 0.473);